@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$primary-color: #1ef0a6;
$secondary-color: #1becaa;
$accent-color: #0bc47a;

$logo-color: #003c64;
$text-color: #fff;
$cards-styling: #0098b1;
$text-color-secondary: #000;

$background-color: #050d20;
$background-color-cards: #232a3c;
$background-color-aside: #171e31;

$background-color-secondary: #ef6a47;
aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20vw;
  background-color: $background-color-aside;
  padding: 30px;
  * {
    font-weight: normal;
  }
}

.logo .title-aside {
  text-align: center;
  font-size: 3rem;
}

.other-pages {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  a {
    text-decoration: none;
    color: $text-color;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
  }

  .route_page {
    display: flex;
    align-items: center;
    fa-icon {
      margin-right: 15px;
      font-size: 25px;
    }
  }
}
