<aside>
  <div class="logo">
    <h1 class="title-aside">
      <span>Data</span><span style="font-weight: bold">Way</span>
    </h1>
  </div>
  <div class="other-pages">
    <div class="route_page">
      <fa-icon [icon]="faChartLine"></fa-icon>
      <a href="/dashboard"><h2>Dashboard</h2></a>
    </div>
    <div class="route_page">
      <fa-icon [icon]="faCircleUser"></fa-icon>
      <a href="/dashboard/perfil"><h2>Perfil</h2></a>
    </div>
    <div class="route_page">
      <fa-icon [icon]="faHeadset"></fa-icon>
      <a href="/dashboard/suporte"><h2>Suporte</h2></a>
    </div>
  </div>
</aside>