<div class="container-cards">
  <div class="card">
    <div class="title">
      <p class="card-title">{{ concessao }}</p>
      <p class="periodo">Tráfego {{ periodo }}</p>
    </div>
    <h1>{{ veiculos }}</h1>
    <div class="wrapper-data">
      <div class="percentage"  *ngIf="evasoes > 20">
        TESTE
        <p class="evasoes">{{ evasoes }}% evasões</p>
      </div>
      <div class="percentage" *ngIf="impactoFinanceiro > 0">
        TESTE
        <p class="evasoes">{{ impactoFinanceiro }}% Financeiro</p>
      </div>
    </div>
  </div>
</div>
