<app-header-adm></app-header-adm>

<div class="container">
  <div class="row">
    <div class="form-container">
      <div class="header">
        <h2>Cadastrar Empresa</h2>
      </div>
      <form
        class="form"
        [formGroup]="empresaForm"
        (ngSubmit)="handleSubmit($event, empresaForm)"
      >
        <div class="form-wrapper">
          <div class="form-group">
            <div class="input-wrapper">
              <label for="nomeFantasia">Nome da Empresa</label>
              <input
                type="text"
                id="nomeFantasia"
                formControlName="nomeFantasia"
              />
            </div>
            <div class="input-wrapper">
              <label for="razaoSocial">Razão social</label>
              <input
                type="text"
                id="razaoSocial"
                formControlName="razaoSocial"
              />
            </div>
            <div class="input-wrapper">
              <label for="representanteLegal">Representante legal</label>
              <input
                type="text"
                id="representanteLegal"
                formControlName="representanteLegal"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-wrapper">
              <label for="CNPJ">CNPJ</label>
              <input type="text" id="CNPJ" formControlName="CNPJ" />
            </div>
            <div class="input-wrapper">
              <label for="codigoEmpresa">Código da empresa</label>
              <input
                type="text"
                id="codigoEmpresa"
                formControlName="codigoEmpresa"
              />
            </div>
            <div class="input-wrapper">
              <label for="concessoes">Concessões</label>
              <div class="multiselect">
                <div class="selectBox" (click)="showCheckboxes()">
                  <select>
                    <option>Select an option</option>
                  </select>
                  <div class="overSelect"></div>
                </div>
                <div id="checkboxes">
                  <label for="one" class="checkbox-label">
                    <input type="checkbox" id="one" />First checkbox</label
                  >
                  <label for="two">
                    <input type="checkbox" id="two" />Second checkbox</label
                  >
                  <label for="three">
                    <input type="checkbox" id="three" />Third checkbox</label
                  >
                </div>
              </div>
            </div>
            <div class="input-wrapper">
              <label for="ativo">Status</label>

              <select name="ativo" id="ativo" formControlName="ativo">
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
              </select>
            </div>
          </div>
        </div>
        <button (click)="handleCancel()" type="submit" class="btn btn-primary">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary">Cadastrar Empresa</button>
      </form>
    </div>
  </div>
</div>
