<app-header></app-header>

<div class="notas-container">
   <app-bar [nomeDoUsuario]="nomeDoUsuario" [mensagem]="'Notas'"></app-bar>

   <div class="nota" style="cursor: pointer" (click)="openModal()">
      <img
        src="assets/20.png"
        alt="ícone"
        style="
          width: 20px;
          height: 20px;
          vertical-align: middle;
          margin-right: 8px;
        "
      />
      Criar Nota
    </div>

    <div
      class="modal"
      [ngStyle]="{ display: showModal ? 'block' : 'none' }"
      (click)="onModalBackgroundClick($event)"
    >
      <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal()">&times;</span>
        <label for="descricao">Descrição</label>
        <input id="descricao" class="modal-input" placeholder="XXXXXXX" />
        <label for="mes">Mês referente</label>
        <input id="mes" class="modal-input" placeholder="XXXXXXX" />
        <label for="concessao">Concessão</label>
        <input id="concessao" class="modal-input" placeholder="XXXXXXX" />
        <label for="status">Status</label>
        <select id="status" class="modal-input">
          <option value="">XXXXXXX</option>
          <option value="Critico">Crítico</option>
          <option value="Alerta">Alerta</option>
          <option value="Estavel">Estável</option>
        </select>
        <button class="modal-btn" (click)="closeModal()">Salvar</button>
      </div>
    </div>

  <div class="notas">
      
      <div class="alerta-nota" *ngFor="let nota of nota">

      <div class="header-nota">
        <h3>{{nota.concessao}}</h3>
        <span class="data-referente">{{nota.mesReferente}}</span>
      </div>

         <span class="alerta-nota-titulo">{{nota.status}}</span>
        <img
        *ngIf="nota.status === 'Alerta'"
        src="/images/notas/alerta_amarelo.svg"
        alt="Alerta Amarelo"
        class="nota-alerta-icone"
        />
        <img
        *ngIf="nota.status === 'Crítico'"
        src="/images/notas/alerta_vermelho.svg"
        alt="Alerta Vermelho"
        class="nota-alerta-icone"
        />
        <img
        *ngIf="nota.status === 'Estável'"
        src="/images/notas/alerta_verde.svg"
        alt="Alerta Verde"
        class="nota-alerta-icone"
        />
        <div class="descricao-nota">{{nota.descricao}}</div>
      </div>
    
  </div>
</div>
