$primary-color: #1ef0a6;
$secondary-color: #1becaa;
$accent-color: #0bc47a;

$logo-color: #003c64;
$text-color: #fff;
$cards-styling: #0098b1;
$text-color-secondary: #000;

$background-color: #050d20;
$background-color-cards: #232a3c;
$background-color-aside: #171e31;

$background-color-secondary: #ef6a47;
$background-color-three: #c50c0c;
