


$header-background-color: #cacaca;
$header-background-color-profile: #0b768b;
$header-text-color: #050d21;
$header-text-color-profile: #050d21;
$header-height: 90px;
$header-padding: 10px;

$popup-background-color: #fff;
$popup-text-color: #343a40;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  width: -moz-available;
  width: -webkit-fill-available;
  margin-left: auto;
  max-width: 1600px;

  ul {
    font-weight: normal !important;
    list-style: none;
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
    .user {
      background-color: $header-background-color-profile;
      height: $header-height;
      display: flex;
      align-items: center;
      padding: 0 10px;
      cursor: pointer;
      position: relative;

      .arrow-up {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
      }

      .arrow-down {
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out;
      }

      .popup {
        position: absolute;
        background-color: $popup-background-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        top: 80px;
        right: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 2;
        h3 {
          background-color: $header-background-color;
          color: $popup-text-color;
          margin: 0;
          padding: 10px;
        }
        a {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          color: $popup-text-color;
          cursor: pointer;
          font-size: 20px;
          margin: 0;
          padding: 10px;
          z-index: 1000;
        }
      }

      .user-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      h3 {
        color: $header-text-color-profile;
        margin: 0 10px;
        font-weight: normal;
      }
      img {
        width: 20px;
        height: 20px;
        filter: brightness(0) invert(1);
      }
    }
    li {
      a {
        text-decoration: none;
        color: $header-text-color;
        cursor: pointer;
        font-size: 20px;
      }
    }
  }

  .header-logo {
    font-family: "Red Hat Display", sans-serif !important;
    font-size: 50px;
    color: #050d21;
  }

  .header-logo b {
  font-weight: bold !important;
}

}
