<header>
  <div class="header-logo">
    <a href="/app"><h1>Data<b>Way</b></h1></a>
  </div>
  <div class="pages-router-header">
    <ul>
      <li>
        <a href="/app">Home</a>
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/app/suporte">Suporte</a>
      </li>
      <li class="user" (click)="handlePopup()">
        <img src="https://placehold.co/50x50/png" alt="rapaz" class="user-img" />
        <h3>{{ nomeUsuario }}</h3>
        <img
          src="https://img.icons8.com/?size=100&id=2K3ixDRRS2eG&format=png&color=228BE6"
          alt=""
          class="arrow"
          [ngClass]="{ 'arrow-up': isPopupOpen, 'arrow-down': !isPopupOpen }"
        />
        <div class="popup">
          <h3>Olá!</h3>
          <a (click)=handlePerfil()>Perfil</a>
          <a (click)="logout()">Sair</a>
        </div>
      </li>
    </ul>
  </div>
</header>
