<header>
  <div class="header-logo">
    <a href="/app"
      ><span>Data<b>Way</b></span></a
    >
  </div>
  <div class="pages-router-header">
    <ul>
      <li>
        <a href="/app">Home</a>
      </li>
      <li>
        <a href="/suporte">Suporte</a>
      </li>
      <li>
        <a href="/notas">Notas</a>
      </li>
      <li class="user" (click)="$event.stopPropagation(); handlePopup()">
        <img
          src="https://placehold.co/50x50/png"
          alt="rapaz"
          class="user-img"
        />
        <h3>{{ nomeUsuario }}</h3>
        <img
          src="https://img.icons8.com/?size=100&id=2K3ixDRRS2eG&format=png&color=228BE6"
          alt=""
          class="arrow"
          [ngClass]="{ 'arrow-up': isPopupOpen, 'arrow-down': !isPopupOpen }"
        />
        <div class="popup-wrapper" (click)="$event.stopPropagation()">
          <div class="popup">
            <ng-container *ngIf="!isEditingConfig; else editConfig">
            </ng-container>

            <ng-template #editConfig>
              <div class="config-notif">
                <h3><strong>Configurar Notificações</strong></h3>

                <div class="wrapper-config">
                  <div class="notificacoes">
                    <span>Notificações</span>
                    <label class="switch" (click)="$event.stopPropagation()">
                      <input
                        type="checkbox"
                        (change)="handleNotificationUpdate($event)"
                        [checked]="notificacoesAtivas"
                        (click)="$event.stopPropagation()"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label (click)="$event.stopPropagation()">
                      <input
                        type="radio"
                        name="frequencia"
                        value="mensal"
                        [(ngModel)]="frequencia"
                      />
                      Mensal
                    </label>
                    <label (click)="$event.stopPropagation()">
                      <input
                        type="radio"
                        name="frequencia"
                        value="semanal"
                        [(ngModel)]="frequencia"
                      />
                      Semanal
                    </label>
                    <label (click)="$event.stopPropagation()">
                      <input
                        type="radio"
                        name="frequencia"
                        value="ambos"
                        [(ngModel)]="frequencia"
                      />
                      Mensal e Semanal
                    </label>
                  </div>

                  <!-- 3) Horário Diário (aparece se for “diario” ou “ambos”) -->

                  <!-- 4) Horários Semanais (aparece se for “semanal” ou “ambos”) -->
                  <div
                    class="form-group"
                    *ngIf="frequencia === 'semanal' || frequencia === 'ambos'"
                  ></div>

                  <!-- 5) Botões “Salvar” e “Cancelar” -->
                  <div class="botoes-config">
                    <button (click)="cancelConfig()">Cancelar</button>
                    <button (click)="saveConfig()">Salvar</button>
                  </div>
                </div>
              </div>
            </ng-template>
            <div class="wrapper-handles">
              <h3>Olá!</h3>
              <a (click)="handlePerfil()">Perfil</a>
              <a
                class="link-notif"
                (click)="$event.stopPropagation(); startEditConfig()"
                [style]="
                  isEditingConfig
                    ? 'background-color: #e7e7e7; transition: 0.3s;'
                    : ''
                "
                >Notificações
                <img
                  src="https://img.icons8.com/?size=100&id=2K3ixDRRS2eG&format=png&color=228BE6"
                  alt=""
                  class="arrow-notif"
                  [style]="
                    isEditingConfig
                      ? 'transform: rotate(90deg);'
                      : 'transform: rotate(270deg);'
                  "
              /></a>

              <a (click)="logout()">Sair</a>
            </div>
          </div>
        </div>

        <img
          class="configuracoes-icon"
          src="/images/Icon/icons8-configurações-50.png"
          alt=""
        />
      </li>
    </ul>
  </div>
</header>
