.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;     
    margin-top: 4rem;
    background-color: #bfd8dc;
    height:4.5rem;
    img{
        margin:0 2rem 0 2rem;
        height: 6rem;
    }
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif !important;
  color: black;
}