<div class="container">
  <app-aside></app-aside>

  <div class="wrapper_profile">
    <div class="profile_banner">
      <div class="text_banner">
        <h1>Suporte</h1>
      </div>
      <div class="border_text"></div>
    </div>

    <section class="suport_sect">
      <div class="text_and_form">
        <h1 class="suport_sect_title_main">Precisa de Ajuda?</h1>

        <h1 class="suport_sect_title_sec">Entre em contato com a gente!</h1>

        <div class="message_box">
          <form action="">
            <div class="input-field">
              <label class="user-label" for="email_input">Assunto:</label>
              <input required="" type="text" name="text" />
              <label class="user-label" for="email_input">Descrição:</label>
              <textarea name="" id=""></textarea>
            </div>
          </form>
          <button class="edit_profile_data">Enviar mensagem</button>
        </div>
      </div>
      <div class="triangle"></div>
    </section>
  </div>
</div>
