/* config */
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap");

/* Red Hat Display font */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400..700&display=swap");

/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400..700&display=swap");

/* Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: #1ef0a6;
$secondary-color: #1becaa;
$accent-color: #0bc47a;

$logo-color: #003c64;
$text-color: #000000;
$text-color-title-cards: #aeaeae;
$cards-styling: #0098b1;
$text-color-secondary: #000;

$background-color: #f2f2f2;
$background-color-cards: #ffffff;
$background-color-aside: #171e31;

$background-color-secondary: #ef6a47;

$header-background-color: #cacaca;
$header-text-color: #343a40;
$header-height: 90px;
$header-padding: 10px;


app-header {
  background-color: $header-background-color;
  color: $header-text-color;
  height: $header-height;
  padding: $header-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  font-family: "Montserrat", sans-serif !important;
  font-weight: lighter;
}

/* dashboard */
.container-dashboard {
  width: 100%;
  font-family: "Montserrat", sans-serif !important;
  // margin-left: 23vw; /* GAMBIARRRAAAAAAA */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      margin: 30px 0;
      margin-top: 25px;
      font-weight: bold;
      color: $text-color;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
}

.cards .card {
  background-color: $background-color-cards;
}

.cards .card h4 {
  text-transform: uppercase;
  margin: 15px;
  color: $text-color-title-cards;
  font-weight: bold;
}

div.cards div.card .card-details div.details-data {
  display: flex;
}

div.cards div.card .card-details div.details-data img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

div.cards div.card .card-details div.details-data i {
  font-size: 2rem;
}

.cards .card .card-details .details-data {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}

.cards .card .card-details .details-data h1 {
  color: $text-color;
  display: flex;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-left: 15px;
}

.graphs {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  width: 100%;
}

.graph-above {
  display: flex;
}

.graphs .container-left-graphs,
.graphs .container-right-graphs {
  height: 100%;
}

.graphs .container-right-graphs {
  display: flex;
  flex-direction: column;
}

.graphs .container-right-graphs .graph-above,
.graphs .container-right-graphs .graph-below {
  background-color: $background-color-cards;
}

.graph-above,
.graph-below {
  width: 100%;
  height: 50vh;
}

.graph-above canvas,
.graph-below canvas {
  display: block;
  box-sizing: border-box;
  width: 100% !important;
  height: 100% !important;
}

.graphs .container-right-graphs .graph-below {
  height: 46vh !important;
}

.graphs .container-left-graphs {
}

.graphs {
  .container-left-graphs {
    width: 66% !important;
    .graph-above {
      display: flex;
      margin: 0;
    }
  }
}

.graphs .container-left-graphs .graph-below {
  background-color: $background-color-cards;
  height: 38.5vh;
}

.horizontal-bar-chart {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  background-color: $background-color-cards;
}

.bar-chart,
.line-chart {
  width: 100%;
  background-color: $background-color-cards;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  h4 {
    margin: 0 !important;
  }
}

.radar-chart h4,
.horizontal-bar-chart h4,
.line-chart h4,
.bar-chart h4,
.heat-map-chart h4 {
  margin: 15px;
  margin-bottom: 30px;
  color: $text-color;
  font-weight: 700;
}

.line-chart canvas {
  margin: 0;
}

#lineCanvas,
#heatMapCanvas {
  height: 100% !important;
  margin: 0 auto;
  width: 100%;
  color: $text-color;
}

.heat-map-chart {
  display: flex;
  flex-direction: column;
  height: 100%;
}
