

$primary-color: #1ef0a6;
$secondary-color: #1becaa;
$accent-color: #0bc47a;

$logo-color: #003c64;
$text-color: #000000;
$text-color-title-cards: #aeaeae;
$cards-styling: #0098b1;
$text-color-secondary: #000;

$background-color: #f2f2f2;
$background-color-cards: #ffffff;
$background-color-aside: #171e31;

$background-color-secondary: #ef6a47;

/* dashboard */
.container-dashboard {
  width: 100%;
  font-family: "Montserrat", sans-serif !important;
  // margin-left: 23vw; /* GAMBIARRRAAAAAAA */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 2.5rem;
      margin: 30px 0;
      margin-top: 25px;
      font-weight: bold;
      color: $text-color;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
}

.cards .card {
  width: 100%;
  height: 20vh;
  background-color: $background-color-cards;
  .card-details-components {
    display: flex;
    justify-content: space-between;
  }
  .card-details {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    .card-details-img {
      margin: 0.5rem 1rem 0 0;
      width: 6vw;
      height: 6vh;
      background-color: $text-color;
    }
    .details-data-percentage {
      display: flex;
      align-items: center;
      .percentage {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        width: 35px;
        height: 20px;
        border-radius: 5px;
        color: white;
        font-size: 13px;
        font-weight: 600;
      }
      .details-data-percentage-text {
        color: #abb1cc;
        font-weight: 600;
      }
    }
  }
}

.cards .card h4 {
  text-transform: uppercase;
  margin: 15px;
  color: $text-color-title-cards;
  font-weight: bold;
}

div.cards div.card .card-details div.details-data {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  h1 {
    font-size: 2rem;
    color: #495057;
  }
}

div.cards div.card .card-details div.details-data img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

div.cards div.card .card-details div.details-data i {
  font-size: 2rem;
}

.cards .card .card-details .details-data {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}

.cards .card .card-details .details-data h1 {
  color: $text-color;
  display: flex;
  font-size: 2.5rem;
  font-weight: bolder;
}

.graphs {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  width: 100%;
}

.graph-above {
  display: flex;
}

.graphs .container-left-graphs,
.graphs .container-right-graphs {
  height: 100%;
}

.graphs .container-right-graphs {
  display: flex;
  flex-direction: column;
}

.graphs .container-right-graphs .graph-above,
.graphs .container-right-graphs .graph-below {
  background-color: $background-color-cards;
}

.graph-above,
.graph-below {
  width: 100%;
  height: 50vh;
}

.graph-above canvas,
.graph-below canvas {
  display: block;
  box-sizing: border-box;
  width: 100% !important;
  height: 100% !important;
}


.teste2 {
  width: 100%;
}

.graphs .container-right-graphs .graph-below {
  height: 46vh !important;
}

.graphs .container-right-graphs {
  .graph-above {
    padding: 20px;
  }
  width: 50%;
}

.graphs {
  .container-left-graphs {
    width: 100% !important;
    .graph-above {
      display: flex;
      margin: 0;
    }
  }
}

.graphs .container-left-graphs .graph-below {
  background-color: $background-color-cards;
  height: 38.5vh;
}

.horizontal-bar-chart {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  background-color: $background-color-cards;
  align-items: center;
  justify-content: center;
  h4 {
    width: 100%;
  }
}

.bar-chart,
.line-chart {
  width: 100%;
  background-color: $background-color-cards;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  h4 {
    margin: 0 !important;
  }
}

.radar-chart h4,
.horizontal-bar-chart h4,
.line-chart h4,
.bar-chart h4,
.heat-map-chart h4 {
  color: $text-color;
  font-weight: 700;
}

.line-chart canvas {
  margin: 0;
}

#lineCanvas,
#heatMapCanvas {
  height: 100% !important;
  margin: 0 auto;
  width: 100%;
  color: $text-color;
}

.heat-map-chart {
  display: flex;
  flex-direction: column;
  height: 100%;
}
