<!-- <aside>
    <div class="logo">
      <h1 class="title-aside">
        <span>Data</span><span style="font-weight: bold">Way</span>
      </h1>
    </div>
    <div class="first-sect">
      <img
        src="../images/DashBoard/eco.png"
        alt="user-image"
        class="user-image"
      />
      <h2 class="user-name">Ecorodovias</h2>
    </div>
    <div class="second-secct">
      <form action="">
        <div class="period">
          <h2>Período</h2>
          <div class="period_input">
            <input type="date" name="" id="" />
            <input type="date" name="" id="" />
          </div>
        </div>
        <div class="region">
          <h2>Concessão</h2>
          <select name="" id="select-concessao">
            <option value="">Selecione uma concessão</option>
            <option value="">Ecovias do Cerrado</option>
            <option value="">Ecovias Imigrantes</option>
            <option value="">Ecovias Rio Minas</option>
            <option value="">Ecovias Ponte</option>
            <option value="">Ecovias Raposo Castello</option>
          </select>
        </div>
        <button type="submit" class="search-button">Filtrar</button>
      </form>
    </div>

    <div class="other-pages">
      <div class="route_page">
        <fa-icon [icon]="faCircleUser"></fa-icon>
        <a href="/dashboard/perfil"><h2>Perfil</h2></a>
      </div>
      <div class="route_page">
        <fa-icon [icon]="faHeadset"></fa-icon>
        <a href="/dashboard/suporte"><h2>Suporte</h2></a>
      </div>
    </div>
  </aside> -->

<app-header></app-header>

<section class="container-dashboard">
  <header>
    <h1>Análise de trafego e evasões</h1>
    <i class="fa-solid fa-bell"></i>
  </header>

  <div class="cards">
    <div class="card">
      <div class="card-details">
        <div class="card-details-components">
          <h4>Filtro atual</h4>
          <div class="card-details-img" style="display: none">imagem aqui</div>
        </div>
        <div class="details-data">
          <h1>{{ nomeConcessao }}</h1>
        </div>
        <div class="details-data-percentage">
          <div class="percentage" style="background-color: #1bb99a">11%</div>
          <div class="details-data-percentage-text">
            {{ actualMonth }} de 2024
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-details">
        <div class="card-details-components">
          <h4>Praça em alerta</h4>
          <div class="card-details-img" style="display: none">imagem aqui</div>
        </div>
        <div class="details-data">
          <h1>{{praca}}</h1>
        </div>
        <div class="details-data-percentage">
          <div class="percentage" style="background-color: #ff5d48">55%</div>
          <div class="details-data-percentage-text">
            Responsável pelas evasões
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-details">
        <div class="card-details-components">
          <h4>Impacto financeiro</h4>
          <div class="card-details-img" style="display: none">imagem aqui</div>
        </div>
        <div class="details-data">
          <h1>$-15.300k</h1>
        </div>
        <div class="details-data-percentage">
          <div class="percentage" style="background-color: #ff5d48">-11%</div>
          <div class="details-data-percentage-text">
            Comparado ao mes anterior
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-details">
        <div class="card-details-components">
          <h4>Total de evasões</h4>
          <div class="card-details-img" style="display: none">imagem aqui</div>
        </div>
        <div class="details-data">
          <h1>{{evasoes}}</h1>
        </div>
        <div class="details-data-percentage">
          <div class="percentage" style="background-color: #f1b53d">-25%</div>
          <div class="details-data-percentage-text">
            Comparado ao mes anterior
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graphs">
    <div class="container-left-graphs">
      <div class="graph-above">
        <div class="bar-chart" id="barChartId">
          <div class="bar-chart-above">
            <h4>Percentual de Evasões com Base no Tráfego Mensal</h4>
            <div class="buttons">
              <button class="button1" (click)="handleFilterChange(01)">
                1M
              </button>
              <button class="button2" (click)="handleFilterChange(06)">
                6M
              </button>
              <button class="button3" (click)="handleFilterChange(12)">
                1A
              </button>
            </div>
          </div>
          <div class="teste" style="height: 100%">
            <canvas id="barCanvas"></canvas>
          </div>
        </div>
        <!-- <div class="radar-chart" id="radarChartId">
                <h4>EVASÕES POR REGIÃO</h4>
                <canvas id="radarCanvas"></canvas>
              </div> -->
      </div>
      <!-- <div class="graph-below">
        <div class="heat-map-chart">
          <h4>EVASÕES POR DIA X MÊS</h4>
          <div class="teste" style="height: 30vh">
            <canvas id="heatMapCanvas"></canvas>
          </div>
        </div>
      </div> -->
    </div>
    <div class="container-right-graphs">
      <div class="graph-above">
        <div class="horizontal-bar-chart" id="barHorizontalId">
          <h4>EVASÕES POR CATEGORIA</h4>
          <div class="teste" id="horizontal-bar-chart-id" style="height: 100%">
            <canvas id="horizontalBarChart"></canvas>
          </div>
        </div>
      </div>
      <!-- <div class="graph-below">
        <div class="bar-chart" id="barChartId">
          <h4>EVASÕES POR DIA DA SEMANA</h4>
          <canvas id="barCanvas"></canvas>
        </div>
      </div> -->
    </div>
  </div>
</section>
